<div ng-controller="AdminCtrl">
	<uib-tabset active="activeTab()">
		<uib-tab ng-repeat="entry in tabs" heading="{{entry.label}}" select="onSelection(entry.id)">
			<ng-include src="entry.template"></ng-include>
		</uib-tab>
	</uib-tabset>
</div>

<script type="text/ng-template" id="editUserModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">{{(new) ? 'Add' : 'Edit'}} user</h3>
        </div>
		
        <div class="modal-body">
			<strong>{{description}}</strong>
<form ng-submit="save(true)" >
		<div class="form-group">
    		<label for="username">Username</label>
    		<input class="form-control" id="username" ng-model="user.username" placeholder="" autofocus>
  		</div>
		<div class="form-group">
			<label>Role</label>
			<select ng-model="user.role" ng-options="option as option for option in roles" class="form-control" />
		</div>
	<input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>
</form>
        </div>
        <div class="modal-footer">
			<button class="btn btn-primary" type="button" ng-click="save()">Save</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
</script>