<div class="modal-header">
	<h3 class="modal-title">Information</h3>
</div>

<form name="MessageDialog" ng-submit="ok()">
	<div class="modal-body">
		<div class="alert alert-info">{{message}}</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" type="submit" ng-click="ok()">OK</button>
	</div>
</form>