<div id="SchedulerCtrl" ng-controller="SchedulerCtrl">
	<st-table data="schedulerTasks" uid="'schedulerTaskList'" persist-state="true" use-spinner="true">
		<st-actions>	
			<div class="btn-group btn-group-menu">				
				<button type="button" ng-disabled="!authService.hasRight('task-write')" class="btn btn-success" ng-click="addSchedulerEntry()">New task</button>
			</div>
			
			<div class="btn-group btn-group-menu">
				<button ng-if="authService.hasRight('admin')" type="button" class="btn btn-default" ng-click="configureScheduler()" uib-tooltip="Configure scheduler" tooltip-append-to-body="true" tooltip-placement="bottom" >
					<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
				</button>
			</div>							
		</st-actions>
		
		<st-columns>
			<st-custom-columns st-screen="schedulerTable" st-exclude-fields="[]"/>
			<st-column name="cronExpression">
				<header>CRON Expression</header>
				<second-header><inputdropdown action="search" initial-value="initialValue"></inputdropdown></second-header>
				<cell><span>{{row.cronExpression}}</span></cell>
			</st-column>
			<st-column name="active">
				<header>Status</header>
				<second-header><inputdropdown action="search" initial-value="initialValue"></inputdropdown></second-header>
				<cell>
				
					<button type="button" ng-class="model.schedulerEnabledToggle ? 'btn btn-primary': 'btn'" ng-click="$parent.toggleTaskState(row.id, row.active)" uib-tooltip="{{ model.schedulerEnabledToggle ? '': 'Scheduler has been disabled by your administrator' }}" tooltip-append-to-body="true" ng-disabled="!authService.hasRight('task-write')" aria-pressed="false" autocomplete="off">{{row.active?'On':'Off'}}</button>
				
				</cell>
			</st-column>
			<st-column width="'150px'">
				<cell>
					<div class="btn-group btn-group-sm">
						<button type="button" class="btn btn-default" ng-click="$parent.executeTask(row)" ng-disabled="!authService.hasRight('plan-execute')"  uib-tooltip="Execute" tooltip-append-to-body="true">
            				<span class="glyphicon glyphicon-play" aria-hidden="true"></span>
            			</button>
						<button type="button" class="btn btn-default" ng-click="$parent.editTask(row.id)" ng-disabled="!authService.hasRight('task-write')" uib-tooltip="Edit" tooltip-append-to-body="true">
            				<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
            			</button>
            			<button type="button" class="btn btn-default" ng-click="$parent.askAndDeleteTask(row.id, row.attributes.name)" ng-disabled="!authService.hasRight('task-write')" uib-tooltip="Delete" tooltip-append-to-body="true">
            				<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            			</button>
            			<a class="btn btn-default btn-sm" href="/#/root/dashboards/__pp__RTMDashboard?__filter1__=text,taskId,{{row.id}}" uib-tooltip="Analyze performance in interactive session"
							tooltip-append-to-body="true" target="_blank"><span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
						</a>
          			</div>
          		</cell>
			</st-column>
		</st-columns>
	</st-table>
</div>