<st-table collection="'screenInputs'" handle="tableHandle" uid="'screenInputSelectionTable'"
			multiple-selection="multipleSelection" on-selection="notifySelection" selection-attribute="'id'">
	<st-columns>
		<st-column name="screenId">
			<header>Screen</header>
			<second-header><inputdropdown action="search" initial-value="initialValue"></inputdropdown></second-header>
			<cell><span>{{row.screenId}}</span></cell>
		</st-column>
		<st-column name="input.label">
			<header>Label</header>
			<second-header><inputdropdown action="search" initial-value="initialValue"></inputdropdown></second-header>
			<cell><span><entity-icon entity="row" entity-name="'screenInputs'"/> {{row.input.label}}</a></span></cell>
		</st-column>
		<st-column name="input.id">
			<header>ID</header>
			<second-header><inputdropdown action="search" initial-value="initialValue"></inputdropdown></second-header>
			<cell><span>{{row.input.id}}</span></cell>
		</st-column>
		<st-selection-column />
	</st-columns>
</st-table>