<div id="ScreenConfigurationCtrl" ng-controller="ScreenConfigurationCtrl">
	<div class="form-group">
		<label>Screen</label> 
		<select class="form-control" ng-change="reload()" ng-model="currentScreenId" ng-options="x for x in screens"></select>
	</div>
	<st-table data="screenInputs" handle="tableHandle" uid="'screenInputs'" persist-state="true">
		<st-actions>
			<div class="btn-group btn-group-menu">
				<button type="button" ng-disabled="!authService.hasRight('screenInputs-write')" class="btn btn-success" ng-click="addInput()">New</button>
			</div>
		</st-actions>
		<st-columns>
			<st-column name="position">
				<header></header>
				<second-header></second-header>
				<cell><span>{{row.position}}</span></cell>
			</st-column>
			<st-column name="label">
				<header>Label</header>
				<second-header><inputdropdown action="search" initial-value="initialValue"></inputdropdown></second-header>
				<cell><span><entity-icon entity="row" entity-name="'screenInputs'"/> <a href="#" ng-click="$event.preventDefault();editInput(row.id)" uib-tooltip="Edit input" tooltip-append-to-body="true">
					{{row.input.label}}</a></span></cell>
			</st-column>
			<st-column name="id">
				<header>ID</header>
				<second-header><inputdropdown action="search" initial-value="initialValue"></inputdropdown></second-header>
				<cell><span>{{row.input.id}}</span></cell>
			</st-column>
			<st-column name="type">
				<header>Type</header>
				<second-header><inputdropdown action="search" initial-value="initialValue"></inputdropdown></second-header>
				<cell><span>{{row.input.type}}</span></cell>
			</st-column>
			<st-column name="options">
				<header>Options</header>
				<second-header><inputdropdown action="search" initial-value="initialValue"></inputdropdown></second-header>
				<cell><span ng-repeat="option in row.input.options">{{option.value}}, </span></cell>
			</st-column>
			<st-column name="activationExpression.script">
				<header>Activation script</header>
				<second-header><inputdropdown action="search" initial-value="initialValue"></inputdropdown></second-header>
				<cell><span>{{row.input.activationExpression.script}}</span></cell>
			</st-column>
			<st-column width="'150px'">
				<cell>
					<div class="btn-group btn-group-sm">
						<button class="btn btn-default" ng-click="moveInput(row.id, -1)" type="button"><i class="glyphicon glyphicon glyphicon-chevron-up" uib-tooltip="Move up"></i></button>
			    		<button class="btn btn-default" ng-click="moveInput(row.id, 1)" type="button"><i class="glyphicon glyphicon glyphicon-chevron-down" uib-tooltip="Move down"></i></button>
			  		</div>
					<div class="btn-group btn-group-sm">
						<button type="button" class="btn btn-default" ng-click="editInput(row.id)" uib-tooltip="Edit input" tooltip-append-to-body="true">
            				<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
            			</button>
            			<button type="button" class="btn btn-default" ng-click="deleteInput(row.id, row.input.label)" uib-tooltip="Delete input" tooltip-append-to-body="true">
            				<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            			</button>
          			</div>
          		</cell>
			</st-column>
		</st-columns>
	</st-table>
</div>