<st-column width="'20px'">
	<header></header>
	<second-header>
	</second-header>
	<cell>
		<input ng-if="multipleSelection()" type="checkbox" ng-model="selectionModelByInput()(row)" ng-model-options="{getterSetter: true}" />
		<button ng-if="!multipleSelection()" type="button" class="btn btn-xs btn-default" ng-click="select()(row)">
			<span class="glyphicon glyphicon glyphicon glyphicon-plus" aria-hidden="true"></span>
		</button>
	</cell>
</st-column>