<div ng-controller="FunctionPackageListCtrl">
	<st-table collection="'functionPackage'" handle="tableHandle" uid="'functionPackageList'" persist-state="true">
		<st-actions>
			<div class="btn-group btn-group-menu">
				<button type="button" ng-disabled="!authService.hasRight('kw-write')" class="btn btn-success" ng-click="addFunctionPackage()">New Keyword Package</button>
			</div>
		</st-actions>
		<st-columns>
			<st-column name="attributes.name">
				<header>Package name</header>
				<second-header><inputdropdown action="search" initial-value="initialValue"></inputdropdown></second-header>
				<cell>
					<cell><span><a href="#" ng-click="$event.preventDefault();editFunctionPackage(row.id)" uib-tooltip="Edit package">{{row.attributes.name}}</a></span></cell>
				</cell>
			</st-column>
			<st-column name="packageLocation">
				<header>Package file</header>
				<cell>
					<resource-label st-model="row.packageLocation" />
				</cell>
			</st-column>
			<st-column name="packageAttributes.version">
				<header>Version</header>
				<second-header><inputdropdown action="search" initial-value="initialValue"></inputdropdown></second-header>
				<cell>
					<resource-label st-model="row.packageAttributes.version" />
				</cell>
			</st-column>
			<st-column width="'150px'">
				<cell>
					<div class="btn-group btn-group-sm">
						<button ng-disabled="isRefreshing" type="button" class="btn btn-default" ng-click="refreshFunctionPackage(row.id)" uib-tooltip="Refresh package">
                  			<span class="glyphicon glyphicon glyphicon-refresh" aria-hidden="true"></span>
                  		</button>
						<button ng-disabled="isRefreshing" type="button" class="btn btn-default" ng-click="editFunctionPackage(row.id)" uib-tooltip="Edit package">
                  			<span class="glyphicon glyphicon glyphicon-wrench" aria-hidden="true"></span>
                  		</button>
						<button ng-disabled="isRefreshing" type="button" class="btn btn-default" ng-click="deleteFunctionPackage(row.id, row.attributes.name)" uib-tooltip="Delete package">
                  			<span class="glyphicon glyphicon glyphicon-trash" aria-hidden="true"></span>
                  		</button>
          			</div>
          		</cell>
			</st-column>
		</st-columns>
	</st-table>	
	
</div>