<div class="modal-header">
    <h3 class="modal-title">{{mode=='edit'?'Edit':'New'}} Keyword Package
    </h3>
</div>

<div class="modal-body">
    <strong>{{description}}</strong>

    <div ng-if="previewError" class="alert alert-danger">Error while loading package file: {{previewError}}</div>
    <div ng-if="isLoading" class="alert alert-info ">Loading, please wait...
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="form-group form-group-sm">
                <label>Package file (Jar file, DLL file, or maven snippet)</label> <span class="glyphicon glyphicon-question-sign" uib-tooltip="Drag&drop your jar/DLL file containing keywords or copy-paste the maven snippet of the repository artifact"></span>
                <resource-input st-type="'functions'" st-bounded="true" st-model="functionPackage.packageLocation" st-on-change="loadPackagePreview()" upload-only=true />
            </div>
            <div class="form-group form-group-sm">
                <label>Package dependencies (Folder or Zip of Jars or DLLs/PDBs)</label>
                <span class="glyphicon glyphicon-question-sign" uib-tooltip="Drag&drop your folder or zip containing Jars/DLLs/PDBs dependencies."></span>
                <resource-input st-type="'functions'" st-bounded="true" st-model="functionPackage.packageLibrariesLocation" st-on-change="loadPackagePreview()" upload-only=true />
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <a ng-click="hideCustomAttributes = !hideCustomAttributes">Custom attributes <span class="glyphicon glyphicon-question-sign" uib-tooltip="Custom attributes applied to all keywords and derived from the functionTable screenInput"></span></a>
        </div>
        <div class="panel-body ng-hide" ng-show="!hideCustomAttributes">
            <div class="form-group form-group-sm">
                <form ng-submit="save()">
                    <st-custom-form st-model="customAttributes" st-on-change="saveCustomAttributes()" st-screen="functionTable" st-exclude-fields="['attributes.name']" />
                </form>
            </div>
        </div>
    </div>
    
    <div class="panel panel-default" ng-show="!dialogConfig.lightForm">
		<div class="panel-heading">
			<a ng-click="showRoutingOptions = !showRoutingOptions">Routing options</a>
		</div>
		<div class="panel-body" ng-show="showRoutingOptions">
			<div class="form-group">
				<label>
					<input type="checkbox" ng-model="functionPackage.executeLocally"> 
					<span class="ng-binding">Execute on controller</span>
				</label>
				<span class="glyphicon glyphicon-question-sign pull-right" uib-tooltip="Defines if the Keywords of this package should be executed on an agent or locally on the controller. Please change this only if you really now what you're doing. In most of the cases the default setting doesn't have to be changed."></span>
			</div>
			<div ng-if="!functionPackage.executeLocally">
				<label>Agent token selection criteria
					<button type="button" class="btn btn-default btn-xs" ng-click="addRoutingCriteria()">
						<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
					</button>
				</label>
				<span class="glyphicon glyphicon-question-sign pull-right" uib-tooltip="Defines additional selection criteria for the agent token on which the keywords of this package should be executed"></span>
				<div class="panel panel-default">
					<div class="panel-body">
						<div>
							<table style="width:100%">
								<tbody>
									<tr ng-repeat="criterion in criteria">
										<td style="padding:2px;"><input class="form-control input-sm" ng-model="criterion.key" placeholder="Key" ng-blur="saveRoutingCriteria()"></td>
										<td style="padding:2px;"><input class="form-control input-sm" ng-model="criterion.value" placeholder="Value" ng-blur="saveRoutingCriteria()"></td>
										<td style="padding:2px;"><button class="btn btn-danger btn-xs" ng-click="removeRoutingCriteria(criterion.key)" type="button"><i class="glyphicon glyphicon-remove"></i></button></td>	
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

    <div class="panel panel-default" ng-if="addedFunctions">
        <div class="panel-heading">
            <a ng-click="showPreview = !showPreview">Found Keywords...</a>
        </div>
        <div class="panel-body" ng-if="showPreview">
            <st-table data="addedFunctions" dom="'tp'">
                <st-columns>
                    <st-column name="attributes.name">
                        <header>Name</header>
                        <cell>
                            <span>{{row.attributes.name}}</span></cell>
                    </st-column>
                </st-columns>
            </st-table>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button ng-disabled="!isFunctionPackageReady" class="btn btn-primary" type="button" ng-click="save()">Save</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>