<div id="SelectSttableEntityCtrl" class="modal-header">
	<h3 class="modal-title">Select entities</h3>
	<span ng-if="currentProject && migrationTarget">Assign from <b>{{currentProject}}</b> to <b>{{migrationTarget}}</b></span>
</div>
<div class="modal-body">
	<select-entity type="type" multiple-selection="multipleSelection" on-selection="select" handle="selectEntityHandle" />
</div>
<div class="modal-footer">
	<button class="btn btn-primary" type="button" ng-click="proceed()">Proceed</button>
	<button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>