<div id="ResourceListCtrl" ng-controller="ResourceListCtrl">
	<div class="row">
	</div>
	<st-table collection="'resources'" handle="tableHandle" uid="'resourceList'" persist-state="true" filter="'not(resourceType=attachment)'">
		<st-actions>
			<div class="btn-group btn-group-menu">
				<button type="button" class="btn btn-success" ng-click="addResource()">New resource</button>
			</div>
		</st-actions>
		<st-columns>
			<st-column name="resourceName">
				<header>Name</header>
				<second-header><inputdropdown action="search" initial-value="initialValue"></inputdropdown></second-header>
				<cell><span><a href="#" ng-click="$event.preventDefault();$parent.editResource(row.id);" uib-tooltip="Edit resource" tooltip-append-to-body="true">{{row.resourceName}}</a></span></cell>
			</st-column>
			<st-column name="resourceType">
				<header>Type</header>
				<second-header><inputdropdown options ="[{text:'functions'},{text:'datasource'}]" action="search" initial-value="initialValue"></inputdropdown></second-header>
				<cell><span>{{row.resourceType}}</span></cell>
			</st-column>
			<st-column name="id">
				<header>ID</header>
				<second-header><inputdropdown action="search" initial-value="initialValue"></inputdropdown></second-header>
				<cell><span>{{row.id}}</span></cell>
			</st-column>
			<st-column width="'150px'">
				<cell>
					<div class="btn-group btn-group-sm">
						<a class="btn btn-default" href="rest/resources/{{row.id}}/content">
							<span class="glyphicon glyphicon-download-alt" aria-hidden="true" uib-tooltip="Download this file"></span>
						</a>
						<button type="button" class="btn btn-default" ng-click="$parent.editResource(row.id)" uib-tooltip="Edit resource">
            				<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
            			</button>
            			<button type="button" class="btn btn-default" ng-click="$parent.deleteResource(row.id, row.attributes.name)" uib-tooltip="Delete resource">
            				<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            			</button>
          			</div>
          		</cell>
			</st-column>
		</st-columns>
	</st-table>
</div>