<div id="ParameterListCtrl" ng-controller="ParameterListCtrl">
	<st-table collection="'parameters'" handle="tableHandle" uid="'parameterList'" persist-state="true" order="[[1, &quot;asc&quot;]]" use-spinner="true">
		<st-actions>
			<div class="btn-group btn-group-menu">
				<button type="button" ng-disabled="!authService.hasRight('param-write')" class="btn btn-default" ng-click="pasteParameter()" uib-tooltip="Paste parameter" tooltip-append-to-body="true" tooltip-placement="bottom">
					<span class="glyphicon glyphicon-paste"></span>
				</button>
			</div>
			<div class="btn-group btn-group-menu">
				<button type="button" ng-disabled="!authService.hasRight('param-write')" class="btn btn-default" ng-click="importParameters()" uib-tooltip="Import parameters"
					tooltip-append-to-body="true" tooltip-placement="bottom">
					<span class="glyphicon glyphicon-import"></span>
				</button>
				<button type="button" ng-disabled="!authService.hasRight('param-read')" class="btn btn-default" ng-click="exportParameters()" uib-tooltip="Export parameters"
					tooltip-append-to-body="true" tooltip-placement="bottom">
					<span class="glyphicon glyphicon-export"></span>
				</button>
			</div>
			<div class="btn-group btn-group-menu">
				<button type="button" ng-disabled="!authService.hasRight('param-write')" class="btn btn-success" ng-click="addParameter()">New parameter</button>
			</div>
		</st-actions>
		<st-columns>
			<st-column name="scope">
				<header>Scope</header>
				<second-header><inputdropdown action="search" initial-value="initialValue"></inputdropdown></second-header>
				<cell><parameter-scope parameter="row"></parameter-scope></cell>
			</st-column>
			<st-custom-columns st-screen="parameterTable" st-exclude-fields="[]"/>
			<st-column width="'150px'">
				<cell>
					<div class="btn-group btn-group-sm">
						<button type="button" class="btn btn-default" ng-click="$parent.editParameter(row.id)" ng-disabled="!authService.hasRight('param-write') || ( (!row.scope || row.scope=='GLOBAL') && !authService.hasRight('param-global-write'))"  uib-tooltip="Edit parameter" tooltip-append-to-body="true">
            				<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
            			</button>
            			<button type="button" class="btn btn-default" ng-click="$parent.copyParameter(row.id)" ng-disabled="!authService.hasRight('param-write') || ( (!row.scope || row.scope=='GLOBAL') && !authService.hasRight('param-global-write'))" uib-tooltip="Copy parameter" tooltip-append-to-body="true">
            				<span class="glyphicon glyphicon-copy" aria-hidden="true"></span>
            			</button>
            			<button type="button" class="btn btn-default" ng-click="$parent.deleteParameter(row.id, row.attributes.key)" ng-disabled="!authService.hasRight('param-write') || ( (!row.scope || row.scope=='GLOBAL') && !authService.hasRight('param-global-write'))" uib-tooltip="Delete parameter" tooltip-append-to-body="true">
            				<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            			</button>
          			</div>
          		</cell>
			</st-column>
		</st-columns>
	</st-table>
</div>