<div id="DashboardsController" ng-controller="DashboardsController">
	<!--<viz-session-manager restprefix="'/rest'"
		dashboards="dashboardsendpoint" currentsession="sessionName" />-->
	<viz-dashboard-manager displaymode="'managed'" presets="staticPresets" dashboards="dashboardsendpoint" restprefix="'/rest'"></viz-dashboard-manager>
</div>